<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="logo" onclick="location.href='/view/main'">
        <img src="https://i.postimg.cc/T3KxY0gd/2.png" alt="Logo">
    </div>

    <div class="search-bar">
        <input type="text" placeholder="공모전 검색">
        <div class="search-icon">
            <img src="https://i.postimg.cc/MT8tf3Qy/searchmagnifierinterfacesymbol-79894.png" alt="Search Icon">
        </div>

    </div>
    <div class="auth-section">
    </div>

</header>
<div class="container">
    <div class="category-list-container">
        <div class="category-item">공지사항</div>
        <div onclick="showMiddleAndBottomCategories()" class="category-item">공모전</div>
        <div class="category-item">이벤트</div>
        <div onclick="showPosts(1,pageSize)" class="category-item">자유게시판</div>
        <div onclick="showChats()" class="category-item">공모전 채팅방</div>
    </div>
</div>
<main class="main">

</main>

<div id="middle-bottom-category-sidebar" style="display: none;">
    <div id="middle-category-list"></div>
    <div id="bottom-category-list"></div>
</div>

</body>
</html>