<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>글쓰기</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/js/posting.js"></script>
</head>
<body>
<h1>글쓰기</h1>

<form id="postForm">
    <label for="title">제목:</label>
    <input type="text" class="posting-input-box" id="title" placeholder="내용 입력"><br><br>

    <label for="contents">내용:</label><br>
    <textarea type="text" class="posting-input-box" id="contents" placeholder="내용 입력"></textarea><br><br>

    <button id="submitPost">작성하기</button>
</form>

</body>
</html>
